.footer-container {
  color: #fff;
  padding: 1.5rem;
  margin: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-part-1,
.footer-part-2,
.footer-part-3 {
  text-align: center;
}

.footer-part-1 h4,
.footer-part-2 h4,
.footer-part-3 h3 {
  margin-bottom: 10px;
}

.social-links a {
  color: white;
  margin-right: 10px;
  font-size: 20px;
  text-decoration: none;
  padding: 5px;
}

@media only screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-part-1,
  .footer-part-2,
  .footer-part-3 {
    margin-bottom: 20px;
  }

  .social-links a {
    font-size: 16px;
  }
}
